Ransomware_research_project.toc
Ransomware_research_project.synctex.gz
Ransomware_research_project.aux
Ransomware_research_project.bbl
Ransomware_research_project.blg
Ransomware_research_project.log
Ransomware_research_project.out